<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
  <link href="http://www.w3.org/StyleSheets/Core/Steely" rel="StyleSheet" type="text/css" />
</head>

<body>

<h1>Tervetuloa laskuri 2.0:aan.</h1>
<h2>Syötä käyttäjätunnus ja salasana kirjautuaksesi</h2>
<h3>{{ tieto }}</h3>
<form action="{{request.base_url}}" method="POST">
<p>
<label>Käyttäjätunnus<input type="text" name="kayttajatunnus" /></label>
</p>
<p>
<label>Salasana<input type="text" name="salasana" /></label>
</p>
<p>
<input type="submit" name="laheta" value="Kirjaudu" />
</p>
</form>

</body>

</html>