<!DOCTYPE html>
<html>

<head>
  <title>Laitteen hallinta</title>
  <link href="http://www.w3.org/StyleSheets/Core/Steely" rel="StyleSheet" type="text/css" />
</head>

<body>

<h1>Hei! Tällä sivulla näet laitteen tiedot ja voit muokata niitä.</h1>
<h2>Laitteen id: .{{ deviceid }}.</h2>
<h2>Valitun adderin ID: {{ valittu }}</h2>
<h2>Session valittuLaite: {{ session['valittuLaite'] }}</h2>

<p>
    {% for p in session['devices'] %}
        {% if p['DeviceID']|int() == deviceid|int() %}
            <p>Laitteen nimi:{{ p['Name'] }}</a></p>
            <p>Lyhyt kuvaus laitteesta: {{ p['Description'] }}</p>
            {% for k in session['activeondevice'] %}
                {% if k['deviceid']|int() == p['DeviceID']|int() %}
                    {% for i in session['adders'] %}
                        {% if i['AdderID']|int() == k['adderid']|int() %}
                            <p>Aktiivisena tässä laitteessa on: {{ i['Name'] }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</p>

<h6>Jos haluat vaihtaa aktiivisen laskennot, valitse ja klikkaa Päivitä</h6>
<form action="http://users.jyu.fi/~veojala/cgi-bin/laskuri_UI/flask.cgi/device" method="POST">

<select name="selectedAdder">
    {% for i in session['adders'] %}
        <option value="{{ i['AdderID'] }}">{{ i['Name'] }}</option>
    {% endfor %}
</select>

<input type="submit" name="laheta" value="Päivitä aktiivinen" />
</form>

<a href="http://users.jyu.fi/~veojala/cgi-bin/laskuri_UI/flask.cgi/etusivu">Takaisin etusivulle</a>

</body>

</html>