<!DOCTYPE html>
<html>

<head>
  <title>Laskuri</title>
  <link href="http://appro.mit.jyu.fi/sovellukset/demot/demo3/lomake.css" rel="StyleSheet" type="text/css" />
</head>

<body>

<h1>Laskuri</h1>

<p>Summa on </p>
<form action="{{request.base_url}}" method="get">
<p>
<label>Anna luku<input type="text" name="luku" /></label>
</p>
<p>
<input type="submit" name="laheta" value="Laske" />
</p>
<p>{{luku}}</p>
</form>

</body>

</html>