<!DOCTYPE html>
<html>

<head>
  <title>Laskennan tiedot</title>
  <link href="http://www.w3.org/StyleSheets/Core/Steely" rel="StyleSheet" type="text/css" />
</head>

<body>

<h1>Tässä valitsemasi laskennan tiedot</h1>

<p><a href="http://users.jyu.fi/~veojala/cgi-bin/laskuri_UI/flask.cgi/delete">Poista tämä laskento</a></p>

<p><a href="http://users.jyu.fi/~veojala/cgi-bin/laskuri_UI/flask.cgi/etusivu">Takaisin etusivulle</a></p>

{% for p in tiedot %}
    <p>{{ p['ButtonName'] }} laskettu: {{ p['CreationTime'] }} </p>
{% endfor %}

<p><a href="http://users.jyu.fi/~veojala/cgi-bin/laskuri_UI/flask.cgi/delete">Poista tämä laskento</a></p>

<p><a href="http://users.jyu.fi/~veojala/cgi-bin/laskuri_UI/flask.cgi/etusivu">Takaisin etusivulle</a></p>


</body>

</html>